.left-border{
    border-left: 2px solid black;
}
.page-padding{
    padding: 1rem;
}

.img-width{
    width: 300px;
    height: 300px;
    padding: 2rem;
    border-radius: 9rem;
}
header {
    height: 6rem;
    background-color: orange;
    border-radius: 9rem;
    padding-left: 2.2rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

header ul {
    padding-top: .35rem;
}

header ul li {
    display: inline;
    margin-left: .1rem;

}
header h2 {
    padding-top: 1.3rem;
}
header a {
color: #36342c;
}
header a:hover {
    color: hotpink;
    }
.software:hover {
    background-color: lightcoral;
}
.hounds:hover {
    background-color:lightpink;
}
.running:hover {
    background-color: lightskyblue;
}