.left-border{
    border-left: 2px solid black;
}
.page-padding{
    padding: 1rem;
    border: 1px dotted greenyellow;
}

.img-width{
    width: 300px;
    height: 300px;
    padding: 2rem;
    border-radius: 9rem;
}